.tooltip-wrapper {
	display: inline-block;
	position: relative;
}

.tooltip-container{
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #191919;
    padding: 6px 12px;
    font-size: 12px;
    z-index: 100;
    line-height: 1.2;
    position: absolute;
}

.tooltip-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}